---
import Layout from '../layouts/Layout.astro';
import StepList from '../components/StepList.astro';
---

<Layout title={"Build a Browser!"}>
	<h1>BuildABrowser</h1>
	<h2>Let's get started!</h2>
	<StepList/>
</Layout>
