---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>BuildABrowser</h1>
	<h2>Let's get started!</h2>
	<ul>
		<li><a href="steps/step_1">Step 1: Initial Commit</a></li>
	<ul>
</Layout>
