<header>
	<h1><a href="/" class="header-link">BuildABrowser</a></h1>
</header>

<style>
	header {
		position: sticky;
		top: 0px;
		left: 0px;

		background-color: var(--color-background-secondary);
		min-height: 2em;
		padding: .5em 2em;
		margin: 0;
	}

	header h1 {
		font-size: 1.5em;
	}

	.header-link {
		all: inherit;
		cursor: pointer;
	}
</style>
