<header>
	<h1><a href="/" class="header-link main-header-link">BuildABrowser</a></h1>
	<a
		href="https://github.com/build-a-browser/build-a-browser-predraft"
		target="_blank"
		class="header-link"
	>Browser Source (GitHub)</a>
	<a
		href="https://github.com/build-a-browser/BABWebsite"
		target="_blank"
		class="header-link"
	>Webpage Source (GitHub)</a>
	<a
		href="https://discord.com/"
		target="_blank"
		class="header-link"
	>Discord</a>
</header>

<style>
	header {
		position: sticky;

		z-index: 1;
		top: 0px;
		left: 0px;

		display: flex;
		align-items: center;
		gap: 2em;
		flex-wrap: wrap;

		background-color: var(--color-background-secondary);
		min-height: 2em;
		padding: .5em 2em;
		margin: 0;
	}

	header h1 {
		font-size: 1.5em;
		flex-grow: 1;
	}

	.header-link {
		color: var(--color-foreground-primary)
	}

	.main-header-link {
		text-decoration: none;
	}

	@media screen and (max-width: 80em) {
		header {
			position: static;
		}
	}
</style>
