---
import { getCollection } from 'astro:content'
const steps = await getCollection('steps');
const { max } = Astro.props;

const colors = [
	"ac-1", "ac-2", "ac-3", "ac-4"
];
---

<ul class="step-list semicentered">
	{ steps
		.filter((_, i) => !max || i < max)
		.map((step, i) => <li class={colors[i % 4]}>
			<a href={`/steps/${step.id}`} class="step-link"><div class="step-tile">
				<div>
					<h3 class="step-header">{step.data.title}</h3>
					{ step.data.status && <span class="step-status">({step.data.status})</span> }
				</div>
				<p>{step.data.description}</p>
			</div></a>
		</li>) }
	<li><div></div></li>
</ul>

<style>
	.step-list {
		display: flex;
		flex-wrap: wrap;
		gap: 2em;
		justify-content: space-between;

		list-style-type: none;
		padding: 0 2em;
	}
	.step-list li {
		flex-basis: max(20em, calc(33% - 2em));
		min-width: min-content;
		max-width: max-content;
		flex-grow: 1;
	}
	.step-link {
		display: block;
		text-decoration: none;
		color: inherit;
		height: calc(100% - 2em);
	}
	.step-tile {
		cursor: pointer;
		padding: 1em 2em;
		height: 100%;
		position: relative;
	}
	.step-tile:hover {
		background-color: #00000022;
		top: 1px;
		left: 1px;
	}
	.step-header {
		text-decoration: underline;
		display: inline-block;
		margin-bottom: .5em;
	}
	.step-status {
		padding-left: .2em;
		font-size: .8em;
	}
</style>
