---
import NavBar from "../components/NavBar.astro";

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | BuildABrowser</title>
	</head>
	<body>
		<NavBar/>
		<slot />
	</body>
</html>

<style>
	body {
		color: var(--color-foreground-primary);
		background-color: var(--color-background-primary);
		margin: 0;
		font-family: sans-serif;

		--color-foreground-primary: white;
		--color-background-primary: #0A0A0A;
		--color-background-secondary: #222E;
		--color-foreground-small-code: aquamarine;

		--color-accent-1: #C44A3ABB;
		--color-accent-2: #D97A2BBB;
		--color-accent-3: #F2D479BB;
		--color-accent-4: #6FAF4FBB;
	}

	:global(a) {
		cursor: pointer;
	}

	:global(.astro-code) {
		max-width: fit-content;
		padding: 2em;
	}

	:global(.semicentered) {
		box-sizing: border-box;
		width: min(100%, 120em);
		margin: auto;
	}

	:global(.nav-button) {
		all: unset;
		display: inline-block;
		cursor: pointer;
		padding: .75em 1em;
		margin: 1em;
		margin-left: 0;
		color: white;
	}
	:global(.nav-button:hover) {
		padding: calc(.75em + 1px) calc(1em - 1px) calc(.75em - 1px) calc(1em + 1px);
		opacity: 90%;
	}
	:global(.ac-1) {
		background-color: var(--color-accent-1);
	}
	:global(.ac-2) {
		background-color: var(--color-accent-2);
	}
	:global(.ac-3) {
		background-color: var(--color-accent-3);
	}
	:global(.ac-4) {
		background-color: var(--color-accent-4);
	}

	@media (prefers-color-scheme: light) {
		body {
			--color-foreground-primary: black;
			--color-background-primary: #FEE;
			--color-background-secondary: #DCCE;
			--color-foreground-small-code: maroon;
		}
	}
</style>
