---
import NavBar from "../components/NavBar.astro";

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | BuildABrowser</title>
	</head>
	<body>
		<NavBar/>
		<slot />
	</body>
</html>

<style>
	body {
		color: var(--color-foreground-primary);
		background-color: var(--color-background-primary);
		margin: 0;

		--color-foreground-primary: white;
		--color-background-primary: #0A0A0A;
		--color-background-secondary: #222E;
	}

	:global(a) {
		cursor: pointer;
	}

	:global(.astro-code) {
		max-width: fit-content;
		padding: 2em;
	}

	@media (prefers-color-scheme: light) {
		body {
			--color-foreground-primary: black;
			--color-background-primary: #FEE;
			--color-background-secondary: #DCCE;
		}
	}
</style>
